@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@100;400;500;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
body{
    background-color: hsl(210, 36%, 96%);
}
h1{
    font-family: "Great Vibes", cursive;
    color: #c59d5f;
    margin-top: 80px;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-size: 40px;
}
.question{
    background-color: white;
    width: 600px;
    height: auto;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,.2);
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.title{
    font-weight: 400;
    color: #3a3939;
}
.text{
    border-top: 1px solid rgb(230, 228, 228);
    color: gray;
    line-height: 24px;
    padding-top: 10px;
    margin-top: 10px;
    text-align: left;
    display: none;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.plus-icon{
    font-size: 20px;
    color: #c59d5f;
}
.minus-icon{
    font-size: 20px;
    color: #c59d5f;
    display: none;
}

.show .text{
    display: block;
}
.show .minus-icon{
    display: block;
}

.show .plus-icon{
    display: none;
}

@media(max-width: 769px){
    .question{
        width: 300px;
    }
}
